<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}
    {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".nav a").on("click", function () {
                $(".nav").find(".active").removeClass("active");
                $(this).parent().addClass("active");
            });
        });
    </script>
    {% block style %}
    {% endblock %}
    <script>
        $(document).ready(function(){
                 $("#login").click(function(){
                 $("#myModal").modal();
            });
        });
    </script>
    <style>
         .modal-header, h4, .close {
              background-color: #5cb85c;
              color:white !important;
               text-align: center;
             font-size: 30px;
         }
        .modal-footer {
               background-color: #f9f9f9;
         }
    </style>
</head>
<body>
    <div class = "container-fluid">
        <div class = "jumbotron">
        <div class = "row">
        <div class = 'col-md-6'>
            <h1 style="font-family: Satisfy">TheatriXs</h1>
            <p>The Movie Lover</p>
        </div>
        <div class="col-md-6">
            <div class = "pull-right">
                {% if user.is_authenticated %}
                    <p class=" text-primary">Welcome,{{ user.username }}</p>
                    {% if  usrwlt != None %}
                    <p class="text-primary">Credit Remaining: {{ usrwlt.credit }}</p>
                        {% endif %}
                    {% else %}
                        <p class = "bg-primary text-danger">Please Login to continue</p>
                {% endif %}
            </div>
        </div>
        </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class= "navbar-brand" href="{% url 'Home:home_index' %}">TheatriXs</a>
        </div>

        <!--Items -->
        <div class="collapse navbar-collapse" id="topNavBar">

            <ul class = "nav navbar-nav">
                <li class="active">
                    <a href="{% url 'Movies:index' %}">
                        <span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp;
                        Movies
                    </a>
                </li>

            </ul>



            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated and can_change %}
                <li class="">
                    <a href="{% url 'Movies:movie_add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        Add Movie
                    </a>
                </li>
            {% endif %}
                {% if not user.is_authenticated %}
                       <li class="" id="signup">
                    <a href="{% url 'Login:register' %}" >
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                        Signup
                    </a>
                </li>
                <li class="" id="login">
                    <a href="#" >
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;
                        Login
                    </a>
                </li>

                {% endif %}
                {% if user.is_authenticated %}
                <li class="" id="logout">
                    <a href="{% url 'Login:logout' %}" >
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;
                        Logout
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% include 'Login/login.html' %}
</nav>

{% block body %}
{% endblock %}
</body>
</html>