{% extends 'Movies/base.html' %}
{% block title %}
    Details
{% endblock %}


{% block body %}
    <div class = "container">
        <div class = "row">
            <div class = "col-md-4 text-center">
                <div class = "thumbnail">
                     <img src = "{{ object.movie_poster.url }}" class = "img-thumbnail" height="400">
                     <h3>{{ object.name  }}</h3>
                </div>
            </div>
            <div class = "col-md-8">
                <h5>IMDB Rating: {{mov_meta.rating }}</h5>
                <h5>Runtime: {{ mov_meta.runtime }} minutes</h5>
                <h5>Release: {{ mov_meta.release_date }}</h5>
                <hr>
                <h4>Cast:</h4>
                <hr>
                <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Character Name</th>
      </tr>
    </thead>
    <tbody>
        {% for t in meta %}
             <tr>
                <td>{{ t.person_name }}</td>
                <td>{{ t.character_name }}</td>
             </tr>
        {% endfor %}

    </tbody>
  </table>
  </div>
            <h4>Running in Theatres:</h4>
            <hr>

            {% for t in theatres %}
                <blockquote>
                <p>{{ t }}</p>
                <p>{{ t.location }}</p>
                <p>Shows:</p>
                {% if shows.count != 0 %}
                <table class="table table-hover">
                 <thead>
                    <tr>
                        <th>Theatre</th>
                        <th>Timing</th>
                        <th>Price</th>
                    </tr>
                 </thead>
                <tbody>

                    {% for s in shows %}
                        {% if s.theatre == t %}
                            <tr>
                            <td>{{ s.theatre.name }}</td>
                            <td>{{ s.show_time }}</td>
                            <td>Rs.{{ s.price }}</td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                </tbody>
                </table>
                    {% else %}
                        <p>No Shows Available yet. Please Check back Later</p>

                {% endif %}
                <footer>{{ t.city }}</footer>
                </blockquote>
            {% endfor %}
            <hr>
            </div>
        </div>
    </div>
{% endblock %}

