
{% extends 'Movies/base.html' %}
{% block title %}
    Movies
{% endblock %}
{% block body %}
    <div id = "movies_list">
        <div class = "container">
            <h3 class = "text-center">All the latest and Best</h3>
            <p class = "text-center">Remember to Book</p>
        <div class = "row">
            {% for movie in all_Movies %}

                <div class = "col-sm-4 text-center">
                    <a href="{% url 'Movies:detail' pk=movie.pk %}">
                        <div class = "thumbnail">
                        <img src = "{{ movie.movie_poster.url }}" class = "img-responsive" width = "400" height = "300">
                        <hr></a>
                        <p>{{ movie.name }}</p>
                        <p >Director: {{ movie.director }}</p>
                        <p >Genre: {{ movie.genre }}</p>
                        <form action="{% url 'Movies:book_ticket' movie.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button class="btn btn-info" type="submit" >Buy Tickets</button>
                        </form>
                        {%  if user.is_authenticated and can_change %}
                        <form action="{% url 'Movies:movie_delete' movie.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name ="movie_id" value="{{ movie.id }}" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                <span class = "glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                            <form action="{% url 'Movies:movie_update' movie.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name ="movie_id" value="{{ movie.id }}" />
                            <button type="submit" class="btn btn-info btn-sm">
                                <span class = "glyphicon glyphicon-edit"></span>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        </div>
        </div>
    </div>
{%  endblock %}
