{% extends 'Movies/base.html' %}


{% block title %}Add a New Show {% endblock %}
{% block body %}
    {% block style %}
        {% load static %}
            <link rel="stylesheet" href="{% static 'Movies/style.css' %}">
    {% endblock %}
    {% block extrahead %}
        {% load  admin_static %}
        {{ form.media }}
    {% endblock %}
<div class = "container-fluid">
    <div class = "row">
        <div class = "col-sm-12 col-md-7">
            <div class = "panel panel-primary" >
                <div class="panel-heading">Add Show</div>
                <div class = "panel-body">

                    <form class = "form-basic" action = "" method = 'post' enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'Movies/form-template.html' %}
                        <div class="form-group">
                                <button type="submit" class = "btn btn-success">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5">
        <h2>Available Shows</h2>
            {% if shows.count != 0 %}
                <table class="table table-hover">
                 <thead>
                    <tr>
                        <th>Theatre</th>
                        <th>Timing</th>
                        <th>Price</th>
                    </tr>
                 </thead>
                <tbody>

                    {% for s in shows %}
                            <tr>
                            <td>{{ s.theatre.name }}</td>
                            <td>{{ s.show_time }}</td>
                            <td>Rs.{{ s.price }}</td>
                            </tr>

                    {% endfor %}
                </tbody>
                </table>
                    {% else %}
                        <p>No Shows Available.</p>

                {% endif %}


        </div>
    </div>
</div>
{% endblock %}