{% extends 'Movies/base.html' %}
{% block title %}Book Tickets {% endblock %}
{% block body %}
    {% block style %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'Movies/style.css' %}">
{% endblock %}
<div class = "container-fluid">
    <div class = "row">
        <div class = "col-sm-12 col-md-7">
            <div class = "panel panel-default">
                <div class = "panel-body">

                    <form class = "form-basic" action = "" method = 'post' enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'Movies/form-template.html' %}
                        <div class="form-group">
                                <button type="submit" class = "btn btn-success">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-5">
        {% for s in shows %}

            <p id="sname_{{ forloop.counter0 }}">{{ s }} Price: Rs.{{ s.price }}</p>
            <div class = "well" id="{{ s }}">
            <script>
                $(document).ready(function () {

                    {% for t in tickets %}
                    {% if t.show == s %}
                        $('#seat_{{ forloop.parentloop.counter0 }}_{{ t.seat_no }}').removeClass("btn btn-primary btn-xs").addClass("btn btn-danger btn-xs")
                        {% endif %}
                    {% endfor %}

                    $('#id_show').change(function(){
                        $('#chshow').html( $('#id_show').find('option:selected').html())

                    });
                    $('#id_seat_no').change(function(){
                        $('#chseat').html( $('#id_seat_no').val())
                    })
                })
            </script>

            {% for i in seats %}
                <input type="button" class="btn btn-primary btn-xs" id="seat_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" value="{{ forloop.counter0 }}">
                </input>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="well">
            <h2>Ticket Details</h2>
            <p>Show:<span id="chshow"></span></p>
            <p>Seat No:<span id="chseat"></span></p>
        </div>
        </div>
    </div>
</div>
{% endblock %}