{% extends 'Movies/base.html' %}
{% block title %}
    Dashboard
{% endblock %}
{% block style %}
    <script>
    $(document).ready(function(){
        $('#tics').dataTable({
            paginate:false,
        })
    })
            </script>
{% endblock %}
{% block body %}
    <div class="container">
        <h2>User Status</h2>
        <table class = "table table-hover">
            <thead>
                <tr>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>User Name</td>
                    <td>{{ usr.username }}</td>
                </tr>
                {% if usr.is_authenticated and role != None %}
                    <tr>
                        <td>Role</td>
                        <td>Administrator, {{ role }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Name</td>
                    <td>{{ usr.first_name }} {{ usr.last_name }}</td>
                </tr>
                <tr>
                    <td>Registered Email</td>
                    <td>{{ usr.email }}</td>
                </tr>
            </tbody>
        </table>
        {% if user.is_authenticated and role != None %}
            <h2>Stats</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Revenue Generated</th>
                </tr>
                </thead>
            <tbody>
            <tr>
                <td>Total Revenue</td>
                <td>Rs.{{ rev }}</td>
            </tr>
             <tr>
                <td>Number of Tickets Sold</td>
                <td>{{nticketsSold}}</td>
            </tr>
            </tbody>
            </table>
        {% else %}
        <h2>Recent Bookings</h2>
        <table id="tics" class = "table table-hover">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Theatre</th>
                    <th>Time</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            {% for t in tickets %}
                <tr>
                    <td>{{ t.movie }}</td>
                    <td>{{ t.theatre }}</td>
                    <td> {{ t.show.show_time }}   </td>
                    <td>Rs.{{ t.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}