{% extends 'Movies/base.html' %}
{% block title %}Register{% endblock %}
{% block body %}
    {% block style %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'Login/style.css' %}" xmlns="http://www.w3.org/1999/html">
        <script>
            $(document).ready(function () {
                $("#login1").click(function () {
                    $("#myModal").modal();
                })
            })
        </script>
    {% endblock %}

    <div class = "container-fluid">
    <div class = "row">
        <div class = "col-sm-12 col-md-7">
            <div class = "panel panel-default">
                <div class = "panel-body">

                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                    <form class = "form-register" name="Create Account" action = "" method = 'post' enctype="multipart/form-data">

                        <div class="form-register-with-email">
                        <div class="form-white-background">
                        {% csrf_token %}
                        {% include 'Movies/form-template.html' %}

                        <div class="form-row">
                                <button type="submit" class = "btn btn-success">Submit</button>
                        </div>
                            </div>
                        </div>
                        </form>
        </div>


    </div>
        </div>
        <div class = "col-sm-12 col-md-5 ">
            <div class="form-mini-container">
                <h1>Sign in Using Existing Account</h1>
            <div class="form-mini" >
                <div class="form-row form-last-row">
            <button type="submit" id = "login1" class="btn btn-primary btn-lg">Sign in</button>
                    </div>
            </div>
            </div>
        </div>



            </div>

</div>
{% endblock %}